# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.clangd
.vscode
.edx
settings.lua

# Test binary, built with test
test

# Dependency directories (remove the comment below to include it)
# vendor/
deps

#build
build
zig-cache/
zig-out/